body.stop-scrolling {
  height: 100%;
  overflow: hidden;
}
.sweet-overlay {
  background-color: black;
  -ms-filter: "alpha(opacity=40)";
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
  z-index: 10000;
}
.sweet-alert {
  background-color: white;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 478px;
  padding: 17px;
  border-radius: 5px;
  text-align: center;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -256px;
  margin-top: -200px;
  overflow: hidden;
  display: none;
  z-index: 99999;
}
@media all and (max-width: 540px) {
  .sweet-alert {
    width: auto;
    margin-left: 0;
    margin-right: 0;
    left: 15px;
    right: 15px;
  }
}
.sweet-alert h2 {
  color: #575757;
  font-size: 30px;
  text-align: center;
  font-weight: 600;
  text-transform: none;
  position: relative;
  margin: 25px 0;
  padding: 0;
  line-height: 40px;
  display: block;
}
.sweet-alert p {
  color: #797979;
  font-size: 16px;
  text-align: center;
  font-weight: 300;
  position: relative;
  text-align: inherit;
  float: none;
  margin: 0;
  padding: 0;
  line-height: normal;
}
.sweet-alert fieldset {
  border: 0;
  position: relative;
}
.sweet-alert .sa-error-container {
  background-color: #f1f1f1;
  margin-left: -17px;
  margin-right: -17px;
  overflow: hidden;
  padding: 0 10px;
  max-height: 0;
  webkit-transition: padding 0.15s, max-height 0.15s;
  transition: padding 0.15s, max-height 0.15s;
}
.sweet-alert .sa-error-container.show {
  padding: 10px 0;
  max-height: 100px;
  webkit-transition: padding 0.2s, max-height 0.2s;
  transition: padding 0.25s, max-height 0.25s;
}
.sweet-alert .sa-error-container .icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #ea7d7d;
  color: white;
  line-height: 24px;
  text-align: center;
  margin-right: 3px;
}
.sweet-alert .sa-error-container p {
  display: inline-block;
}
.sweet-alert .sa-input-error {
  position: absolute;
  top: 29px;
  right: 26px;
  width: 20px;
  height: 20px;
  opacity: 0;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}
.sweet-alert .sa-input-error::before,
.sweet-alert .sa-input-error::after {
  content: "";
  width: 20px;
  height: 6px;
  background-color: #f06e57;
  border-radius: 3px;
  position: absolute;
  top: 50%;
  margin-top: -4px;
  left: 50%;
  margin-left: -9px;
}
.sweet-alert .sa-input-error::before {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.sweet-alert .sa-input-error::after {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.sweet-alert .sa-input-error.show {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.sweet-alert input {
  width: 100%;
  box-sizing: border-box;
  border-radius: 3px;
  border: 1px solid #d7d7d7;
  height: 43px;
  margin-top: 10px;
  margin-bottom: 17px;
  font-size: 18px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.06);
  padding: 0 12px;
  display: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.sweet-alert input:focus {
  outline: 0;
  box-shadow: 0 0 3px #c4e6f5;
  border: 1px solid #b4dbed;
}
.sweet-alert input:focus::-moz-placeholder {
  transition: opacity 0.3s 0.03s ease;
  opacity: 0.5;
}
.sweet-alert input:focus:-ms-input-placeholder {
  transition: opacity 0.3s 0.03s ease;
  opacity: 0.5;
}
.sweet-alert input:focus::-webkit-input-placeholder {
  transition: opacity 0.3s 0.03s ease;
  opacity: 0.5;
}
.sweet-alert input::-moz-placeholder {
  color: #bdbdbd;
}
.sweet-alert input:-ms-input-placeholder {
  color: #bdbdbd;
}
.sweet-alert input::-webkit-input-placeholder {
  color: #bdbdbd;
}
.sweet-alert.show-input input {
  display: block;
}
.sweet-alert .sa-confirm-button-container {
  display: inline-block;
  position: relative;
}
.sweet-alert .la-ball-fall {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -27px;
  margin-top: 4px;
  opacity: 0;
  visibility: hidden;
}
.sweet-alert button {
  background-color: #8cd4f5;
  color: white;
  border: 0;
  box-shadow: none;
  font-size: 17px;
  font-weight: 500;
  -webkit-border-radius: 4px;
  border-radius: 5px;
  padding: 10px 32px;
  margin: 26px 5px 0 5px;
  cursor: pointer;
}
.sweet-alert button:focus {
  outline: 0;
  box-shadow: 0 0 2px rgba(128, 179, 235, 0.5),
    inset 0 0 0 1px rgba(0, 0, 0, 0.05);
}
.sweet-alert button:hover {
  background-color: #7ecff4;
}
.sweet-alert button:active {
  background-color: #5dc2f1;
}
.sweet-alert button.cancel {
  background-color: #c1c1c1;
}
.sweet-alert button.cancel:hover {
  background-color: #b9b9b9;
}
.sweet-alert button.cancel:active {
  background-color: #a8a8a8;
}
.sweet-alert button.cancel:focus {
  box-shadow: rgba(197, 205, 211, 0.8) 0 0 2px,
    rgba(0, 0, 0, 0.0470588) 0 0 0 1px inset !important;
}
.sweet-alert button[disabled] {
  opacity: 0.6;
  cursor: default;
}
.sweet-alert button.confirm[disabled] {
  color: transparent;
}
.sweet-alert button.confirm[disabled] ~ .la-ball-fall {
  opacity: 1;
  visibility: visible;
  transition-delay: 0;
}
.sweet-alert button::-moz-focus-inner {
  border: 0;
}
.sweet-alert[data-has-cancel-button="false"] button {
  box-shadow: none !important;
}
.sweet-alert[data-has-confirm-button="false"][data-has-cancel-button="false"] {
  padding-bottom: 40px;
}
.sweet-alert .sa-icon {
  width: 80px;
  height: 80px;
  border: 4px solid gray;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  border-radius: 50%;
  margin: 20px auto;
  padding: 0;
  position: relative;
  box-sizing: content-box;
}
.sweet-alert .sa-icon.sa-error {
  border-color: #f27474;
}
.sweet-alert .sa-icon.sa-error .sa-x-mark {
  position: relative;
  display: block;
}
.sweet-alert .sa-icon.sa-error .sa-line {
  position: absolute;
  height: 5px;
  width: 47px;
  background-color: #f27474;
  display: block;
  top: 37px;
  border-radius: 2px;
}
.sweet-alert .sa-icon.sa-error .sa-line.sa-left {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 17px;
}
.sweet-alert .sa-icon.sa-error .sa-line.sa-right {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  right: 16px;
}
.sweet-alert .sa-icon.sa-warning {
  border-color: #f8bb86;
}
.sweet-alert .sa-icon.sa-warning .sa-body {
  position: absolute;
  width: 5px;
  height: 47px;
  left: 50%;
  top: 10px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  margin-left: -2px;
  background-color: #f8bb86;
}
.sweet-alert .sa-icon.sa-warning .sa-dot {
  position: absolute;
  width: 7px;
  height: 7px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin-left: -3px;
  left: 50%;
  bottom: 10px;
  background-color: #f8bb86;
}
.sweet-alert .sa-icon.sa-info {
  border-color: #c9dae1;
}
.sweet-alert .sa-icon.sa-info::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 29px;
  left: 50%;
  bottom: 17px;
  border-radius: 2px;
  margin-left: -2px;
  background-color: #c9dae1;
}
.sweet-alert .sa-icon.sa-info::after {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  margin-left: -3px;
  top: 19px;
  background-color: #c9dae1;
}
.sweet-alert .sa-icon.sa-success {
  border-color: #a5dc86;
}
.sweet-alert .sa-icon.sa-success::before,
.sweet-alert .sa-icon.sa-success::after {
  content: "";
  -webkit-border-radius: 40px;
  border-radius: 40px;
  border-radius: 50%;
  position: absolute;
  width: 60px;
  height: 120px;
  background: white;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.sweet-alert .sa-icon.sa-success::before {
  -webkit-border-radius: 120px 0 0 120px;
  border-radius: 120px 0 0 120px;
  top: -7px;
  left: -33px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 60px 60px;
  transform-origin: 60px 60px;
}
.sweet-alert .sa-icon.sa-success::after {
  -webkit-border-radius: 0 120px 120px 0;
  border-radius: 0 120px 120px 0;
  top: -11px;
  left: 30px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0 60px;
  transform-origin: 0 60px;
}
.sweet-alert .sa-icon.sa-success .sa-placeholder {
  width: 80px;
  height: 80px;
  border: 4px solid rgba(165, 220, 134, 0.2);
  -webkit-border-radius: 40px;
  border-radius: 40px;
  border-radius: 50%;
  box-sizing: content-box;
  position: absolute;
  left: -4px;
  top: -4px;
  z-index: 2;
}
.sweet-alert .sa-icon.sa-success .sa-fix {
  width: 5px;
  height: 90px;
  background-color: white;
  position: absolute;
  left: 28px;
  top: 8px;
  z-index: 1;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.sweet-alert .sa-icon.sa-success .sa-line {
  height: 5px;
  background-color: #a5dc86;
  display: block;
  border-radius: 2px;
  position: absolute;
  z-index: 2;
}
.sweet-alert .sa-icon.sa-success .sa-line.sa-tip {
  width: 25px;
  left: 14px;
  top: 46px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.sweet-alert .sa-icon.sa-success .sa-line.sa-long {
  width: 47px;
  right: 8px;
  top: 38px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.sweet-alert .sa-icon.sa-custom {
  background-size: contain;
  border-radius: 0;
  border: 0;
  background-position: center center;
  background-repeat: no-repeat;
}
@-webkit-keyframes showSweetAlert {
  0 {
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
  }
  45% {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
  }
  80% {
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
@keyframes showSweetAlert {
  0 {
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
  }
  45% {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
  }
  80% {
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
@-webkit-keyframes hideSweetAlert {
  0 {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
  100% {
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
  }
}
@keyframes hideSweetAlert {
  0 {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
  100% {
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
  }
}
@-webkit-keyframes slideFromTop {
  0 {
    top: 0;
  }
  100% {
    top: 50%;
  }
}
@keyframes slideFromTop {
  0 {
    top: 0;
  }
  100% {
    top: 50%;
  }
}
@-webkit-keyframes slideToTop {
  0 {
    top: 50%;
  }
  100% {
    top: 0;
  }
}
@keyframes slideToTop {
  0 {
    top: 50%;
  }
  100% {
    top: 0;
  }
}
@-webkit-keyframes slideFromBottom {
  0 {
    top: 70%;
  }
  100% {
    top: 50%;
  }
}
@keyframes slideFromBottom {
  0 {
    top: 70%;
  }
  100% {
    top: 50%;
  }
}
@-webkit-keyframes slideToBottom {
  0 {
    top: 50%;
  }
  100% {
    top: 70%;
  }
}
@keyframes slideToBottom {
  0 {
    top: 50%;
  }
  100% {
    top: 70%;
  }
}
.showSweetAlert[data-animation="pop"] {
  -webkit-animation: showSweetAlert 0.3s;
  animation: showSweetAlert 0.3s;
}
.showSweetAlert[data-animation="none"] {
  -webkit-animation: none;
  animation: none;
}
.showSweetAlert[data-animation="slide-from-top"] {
  -webkit-animation: slideFromTop 0.3s;
  animation: slideFromTop 0.3s;
}
.showSweetAlert[data-animation="slide-from-bottom"] {
  -webkit-animation: slideFromBottom 0.3s;
  animation: slideFromBottom 0.3s;
}
.hideSweetAlert[data-animation="pop"] {
  -webkit-animation: hideSweetAlert 0.2s;
  animation: hideSweetAlert 0.2s;
}
.hideSweetAlert[data-animation="none"] {
  -webkit-animation: none;
  animation: none;
}
.hideSweetAlert[data-animation="slide-from-top"] {
  -webkit-animation: slideToTop 0.4s;
  animation: slideToTop 0.4s;
}
.hideSweetAlert[data-animation="slide-from-bottom"] {
  -webkit-animation: slideToBottom 0.3s;
  animation: slideToBottom 0.3s;
}
@-webkit-keyframes animateSuccessTip {
  0 {
    width: 0;
    left: 1px;
    top: 19px;
  }
  54% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  70% {
    width: 50px;
    left: -8px;
    top: 37px;
  }
  84% {
    width: 17px;
    left: 21px;
    top: 48px;
  }
  100% {
    width: 25px;
    left: 14px;
    top: 45px;
  }
}
@keyframes animateSuccessTip {
  0 {
    width: 0;
    left: 1px;
    top: 19px;
  }
  54% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  70% {
    width: 50px;
    left: -8px;
    top: 37px;
  }
  84% {
    width: 17px;
    left: 21px;
    top: 48px;
  }
  100% {
    width: 25px;
    left: 14px;
    top: 45px;
  }
}
@-webkit-keyframes animateSuccessLong {
  0 {
    width: 0;
    right: 46px;
    top: 54px;
  }
  65% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  84% {
    width: 55px;
    right: 0;
    top: 35px;
  }
  100% {
    width: 47px;
    right: 8px;
    top: 38px;
  }
}
@keyframes animateSuccessLong {
  0 {
    width: 0;
    right: 46px;
    top: 54px;
  }
  65% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  84% {
    width: 55px;
    right: 0;
    top: 35px;
  }
  100% {
    width: 47px;
    right: 8px;
    top: 38px;
  }
}
@-webkit-keyframes rotatePlaceholder {
  0 {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  5% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  12% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg);
  }
  100% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg);
  }
}
@keyframes rotatePlaceholder {
  0 {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  5% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  12% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg);
  }
  100% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg);
  }
}
.animateSuccessTip {
  -webkit-animation: animateSuccessTip 0.75s;
  animation: animateSuccessTip 0.75s;
}
.animateSuccessLong {
  -webkit-animation: animateSuccessLong 0.75s;
  animation: animateSuccessLong 0.75s;
}
.sa-icon.sa-success.animate::after {
  -webkit-animation: rotatePlaceholder 4.25s ease-in;
  animation: rotatePlaceholder 4.25s ease-in;
}
@-webkit-keyframes animateErrorIcon {
  0 {
    transform: rotateX(100deg);
    -webkit-transform: rotateX(100deg);
    opacity: 0;
  }
  100% {
    transform: rotateX(0);
    -webkit-transform: rotateX(0);
    opacity: 1;
  }
}
@keyframes animateErrorIcon {
  0 {
    transform: rotateX(100deg);
    -webkit-transform: rotateX(100deg);
    opacity: 0;
  }
  100% {
    transform: rotateX(0);
    -webkit-transform: rotateX(0);
    opacity: 1;
  }
}
.animateErrorIcon {
  -webkit-animation: animateErrorIcon 0.5s;
  animation: animateErrorIcon 0.5s;
}
@-webkit-keyframes animateXMark {
  0 {
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    margin-top: 26px;
    opacity: 0;
  }
  50% {
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    margin-top: 26px;
    opacity: 0;
  }
  80% {
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    margin-top: -6px;
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    margin-top: 0;
    opacity: 1;
  }
}
@keyframes animateXMark {
  0 {
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    margin-top: 26px;
    opacity: 0;
  }
  50% {
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    margin-top: 26px;
    opacity: 0;
  }
  80% {
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    margin-top: -6px;
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    margin-top: 0;
    opacity: 1;
  }
}
.animateXMark {
  -webkit-animation: animateXMark 0.5s;
  animation: animateXMark 0.5s;
}
@-webkit-keyframes pulseWarning {
  0 {
    border-color: #f8d486;
  }
  100% {
    border-color: #f8bb86;
  }
}
@keyframes pulseWarning {
  0 {
    border-color: #f8d486;
  }
  100% {
    border-color: #f8bb86;
  }
}
.pulseWarning {
  -webkit-animation: pulseWarning 0.75s infinite alternate;
  animation: pulseWarning 0.75s infinite alternate;
}
@-webkit-keyframes pulseWarningIns {
  0 {
    background-color: #f8d486;
  }
  100% {
    background-color: #f8bb86;
  }
}
@keyframes pulseWarningIns {
  0 {
    background-color: #f8d486;
  }
  100% {
    background-color: #f8bb86;
  }
}
.pulseWarningIns {
  -webkit-animation: pulseWarningIns 0.75s infinite alternate;
  animation: pulseWarningIns 0.75s infinite alternate;
}
@-webkit-keyframes rotate-loading {
  0 {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate-loading {
  0 {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.sweet-alert .sa-icon.sa-error .sa-line.sa-left {
  -ms-transform: rotate(45deg) \9;
}
.sweet-alert .sa-icon.sa-error .sa-line.sa-right {
  -ms-transform: rotate(-45deg) \9;
}
.sweet-alert .sa-icon.sa-success {
  border-color: transparent\9;
}
.sweet-alert .sa-icon.sa-success .sa-line.sa-tip {
  -ms-transform: rotate(45deg) \9;
}
.sweet-alert .sa-icon.sa-success .sa-line.sa-long {
  -ms-transform: rotate(-45deg) \9;
}
.la-ball-fall,
.la-ball-fall > div {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.la-ball-fall {
  display: block;
  font-size: 0;
  color: #fff;
}
.la-ball-fall.la-dark {
  color: #333;
}
.la-ball-fall > div {
  display: inline-block;
  float: none;
  background-color: currentColor;
  border: 0 solid currentColor;
}
.la-ball-fall {
  width: 54px;
  height: 18px;
}
.la-ball-fall > div {
  width: 10px;
  height: 10px;
  margin: 4px;
  border-radius: 100%;
  opacity: 0;
  -webkit-animation: ball-fall 1s ease-in-out infinite;
  -moz-animation: ball-fall 1s ease-in-out infinite;
  -o-animation: ball-fall 1s ease-in-out infinite;
  animation: ball-fall 1s ease-in-out infinite;
}
.la-ball-fall > div:nth-child(1) {
  -webkit-animation-delay: -200ms;
  -moz-animation-delay: -200ms;
  -o-animation-delay: -200ms;
  animation-delay: -200ms;
}
.la-ball-fall > div:nth-child(2) {
  -webkit-animation-delay: -100ms;
  -moz-animation-delay: -100ms;
  -o-animation-delay: -100ms;
  animation-delay: -100ms;
}
.la-ball-fall > div:nth-child(3) {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay: 0;
  animation-delay: 0;
}
.la-ball-fall.la-sm {
  width: 26px;
  height: 8px;
}
.la-ball-fall.la-sm > div {
  width: 4px;
  height: 4px;
  margin: 2px;
}
.la-ball-fall.la-2x {
  width: 108px;
  height: 36px;
}
.la-ball-fall.la-2x > div {
  width: 20px;
  height: 20px;
  margin: 8px;
}
.la-ball-fall.la-3x {
  width: 162px;
  height: 54px;
}
.la-ball-fall.la-3x > div {
  width: 30px;
  height: 30px;
  margin: 12px;
}
@-webkit-keyframes ball-fall {
  0 {
    opacity: 0;
    -webkit-transform: translateY(-145%);
    transform: translateY(-145%);
  }
  10% {
    opacity: 0.5;
  }
  20% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  80% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  90% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(145%);
    transform: translateY(145%);
  }
}
@-moz-keyframes ball-fall {
  0 {
    opacity: 0;
    -moz-transform: translateY(-145%);
    transform: translateY(-145%);
  }
  10% {
    opacity: 0.5;
  }
  20% {
    opacity: 1;
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  80% {
    opacity: 1;
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  90% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    -moz-transform: translateY(145%);
    transform: translateY(145%);
  }
}
@-o-keyframes ball-fall {
  0 {
    opacity: 0;
    -o-transform: translateY(-145%);
    transform: translateY(-145%);
  }
  10% {
    opacity: 0.5;
  }
  20% {
    opacity: 1;
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  80% {
    opacity: 1;
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  90% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    -o-transform: translateY(145%);
    transform: translateY(145%);
  }
}
@keyframes ball-fall {
  0 {
    opacity: 0;
    -webkit-transform: translateY(-145%);
    -moz-transform: translateY(-145%);
    -o-transform: translateY(-145%);
    transform: translateY(-145%);
  }
  10% {
    opacity: 0.5;
  }
  20% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  80% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  90% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(145%);
    -moz-transform: translateY(145%);
    -o-transform: translateY(145%);
    transform: translateY(145%);
  }
}
#welcome {
  background: #ffffff;
  border: 0px solid #ffffff;
  color: #000000;
  font-size: 14px;
  opacity: 0.9;
  filter: alpha(opacity=70);
  padding: 10px 20px;
  position: fixed;
  right: 50px;
  bottom: 30px;
  z-index: 99999;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
}
.from-url {
  color: #3d3b4f;
  font-weight: 700;
}
.closebox {
  float: center;
  text-align: center;
  font-size: 16px;
  margin-top: 10px;
}
.rainbow {
  background: -webkit-linear-gradient(
    45deg,
    lightpink,
    lightgreen,
    pink,
    orange,
    #e03997,
    #e54d42,
    #9c26b0,
    #fdefac,
    lightblue
  );
  color: transparent;
  /*设置字体颜色透明*/
  -webkit-background-clip: text;
  /*背景裁剪为文本形式*/
  animation: ran 10s linear infinite;
  /*动态10s展示*/
}
@keyframes ran {
  from {
    backgroud-position: 0 0;
  }

  to {
    background-position: 2000px 0;
  }
}
.cmt_faces {
  max-width: 32px;
}
article h1,
article h2,
article h3,
article h4,
article h5 {
  font-weight: bold;
}
#wrapper {
  background: url(../imgs/bl.png) no-repeat fixed bottom left,
    url(../imgs/tr.png) no-repeat fixed top right, #f0f2f7;
}
article h2 {
  margin: 26px 0px 0.6em 0px;
  border-bottom: 1px solid;
  color: rgb(255, 102, 0);
  font-size: 26px;
}
article h3 {
  margin: 20px 0px 0.6em 0px;
  color: #f6821f;
  font-size: 20px;
}

a.atags {
  display: inline-block;
  font-size: 10px;
  line-height: 20px;
  padding: 0 10px;
  color: #20a0ff;
  position: relative;
}

a.atags:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  color: inherit;
  background: currentColor;
  border-radius: 20px;
  opacity: 0.15;
}

code {
  color: #0c5176 !important;
  background-color: #f5f8fa !important;
}
body.night .pm-chat-search-box,
h2.widgettitle {
  border-bottom: 1px solid #d8e0ea;
}
body.night .chat_form .chat_input {
  -webkit-box-shadow: 0 1px #fff, 0 2px 2px rgba(31, 45, 61, 0.06) inset;
}
body.night .main-nav.flat {
  color: #738192;
}
body.night .long-model .more {
  color: #8b9bb0;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#3a485b),
    to(#293749)
  );
  background: -webkit-linear-gradient(#3c4a5d, #2b394b);
  background: linear-gradient(#3c4a5d, #263445);
  border: 1px solid #28374a;
  text-decoration: none;
  -webkit-box-shadow: 0 5px 5px rgba(26, 33, 36, 0.38),
    0 0 4px 20px transparent inset, 0 -1px 2px transparent inset;
  box-shadow: 0 5px 5px rgba(26, 33, 36, 0.38), 0 0 4px 20px transparent inset,
    0 -1px 2px transparent inset;
}
body.night .long-model .more:hover {
  background: linear-gradient(#3c4a5d, #263445);
  right: 0;
  -webkit-box-shadow: 0 5px 5px rgba(26, 33, 36, 0.38),
    0 0 4px 20px transparent inset, 0 -1px 2px transparent inset;
  box-shadow: 0 5px 5px rgba(26, 33, 36, 0.38), 0 0 4px 20px transparent inset,
    0 -1px 2px transparent inset;
  -webkit-transition: 0.35s;
  transition: 0.35s;
}
body.night .widgettitle {
  color: #99a9bf;
  border-bottom: 1px solid #34425a;
  box-shadow: 0 1px #34425a;
}
body.night .ticket-item-info {
  color: #99a9bf;
  border-bottom: 1px solid #2e3f53;
  box-shadow: 0 1px #2e3f53;
}
body.night .pf_microblog > ul::after,
body.night .pf_microblog > ul::before {
  background: linear-gradient(#263238, #6e7e8e);
  -webkit-box-shadow: 0 0 0 1px #6e7e8e inset, 0 0 0 2px #263238 inset,
    0 4px 3px rgba(25, 33, 37, 0.5);
  box-shadow: 0 0 0 1px #6e7e8e inset, 0 0 0 2px #263238 inset,
    0 4px 3px rgba(25, 33, 37, 0.5);
}
body.night .pf_microblog > ul > li::before {
  background: #42505a;
  box-shadow: 0 0 0 1px #657484 inset, 0 0 0 2px #334148 inset;
}
body.night .sidebarMenu[pandaTab] > .menu {
  background: #3f4e69;
  -webkit-box-shadow: 0 1px rgba(255, 255, 255, 0.5),
    0 8px 13px rgba(0, 0, 0, 0.15) inset;
  box-shadow: 0 1px #34425a, 0 8px 13px #1b282f inset;
}
body.night .sidebarMenu[pandaTab] > .menu > li > a {
  color: #99a9bf;
  text-shadow: none;
}
body.night .sidebarMenu[pandaTab] > .menu > li.active > a {
  color: #20a0ff;
}
body.night .display-switcher[pandaTab] > .menu > li > a {
  color: #99a9bf;
  text-shadow: 0 1px #28374a;
}
body.night .sidebarMenu[pandaTab] > .menu > li:not(.active) > a:hover {
  text-shadow: 0 0 2px #28374a, 0 0 3px #28374a;
}
body.night .sidebarMenu[pandaTab] .anchor {
  background: linear-gradient(#34425a, #3f4d68);
  -webkit-box-shadow: 0 6px 6px #28374a, 0 10px 10px rgb(51, 65, 72, 0),
    0 -1px 2px #28374a inset;
  box-shadow: 0 6px 6px #28374a, 0 10px 10px rgb(51, 65, 72, 0),
    0 -1px 2px #28374a inset;
}
body.night .mobile_sidebar .s-vcard-login {
  color: #99a9bf;
  background: linear-gradient(#34425a, #3f4d68);
  -webkit-box-shadow: 0 6px 6px #28374a, 0 10px 10px rgb(51, 65, 72, 0),
    0 -1px 2px #28374a inset;
  box-shadow: 0 6px 6px #28374a, 0 10px 10px rgb(51, 65, 72, 0),
    0 -1px 2px #28374a inset;
}
body.night .display-switcher[pandaTab] .anchor {
  background: #3f4d68;
  -webkit-box-shadow: 0 8px 13px #2f3e51 inset, 0 1px #3f4d68;
  box-shadow: 0 8px 13px #2f3e51 inset, 0 1px #3f4d68;
}
@media (max-width: 991px) {
  body.night .sidebar-visible .mobile_sidebar {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-box-shadow: 1px 0 #34425a inset;
    box-shadow: 1px 0 #34425a inset;
    -webkit-transition: 0.25s ease-out 0.5s;
    transition: 0.25s ease-out 0.5s;
  }
}
body.night .display-switcher[pandaTab] > .menu > li:not(.active) > a:hover {
  text-shadow: 0 0 10px #28374a, 0 0 13px #28374a;
}
body.night .pf_tag_cloud > .navigator:after,
body.night .pf_tag_cloud > .navigator:before {
  background: linear-gradient(#334148, #99a9bf);
  box-shadow: 0 0 0 1px #a4b2c673 inset, 0 0 0 2px #263238 inset,
    0 4px 3px #334148;
}
body.night .pf_microblog > ul,
body.night .pf_tag_cloud > .navigator {
  border-left: 1px solid #34425a;
  -webkit-box-shadow: 1px 0 #34425a inset;
  box-shadow: 1px 0 #34425a inset;
}
body.night .pf_tag_cloud > .tag > li > a {
  background-color: #34425a;
}
body.night .pf_tag_cloud > ul > li:before {
  background: #99a9bf;
  box-shadow: 0 0 0 1px #334148 inset, 0 0 0 2px #334148 inset;
}
body.night .pf_tag_cloud > .navigator > li a:after {
  background: #99a9bf;
  -webkit-box-shadow: 0 0 0 1px #334148 inset, 0 0 0 2px #334148 inset;
  box-shadow: 0 0 0 1px #334148 inset, 0 0 0 2px #324047 inset;
}
body.night .pf_tag_cloud > .tag > li:hover > a {
  color: #fff;
  background: #20a0ff;
}
body.night #footer {
  border-top: 1px solid #33415a;
  background: linear-gradient(
    #637893,
    #637893 1px,
    #465568 0,
    #334154 20px,
    #243243 0,
    #334154
  );
  box-shadow: 0 -5px 8px var(--gray_opacity_2);
}
body.night .main-nav.float {
  background: #28374a;
  color: #99a9bf;
  transition: 0.25s;
  box-shadow: 0 10px 13px rgba(31, 45, 61, 0.4), 0 0 1px rgba(31, 45, 61, 0.1);
}
body.night #wrapper {
  background-color: #28374a !important;
  background-image: none;
}
body.night #comment,
body.night .ticket_input {
  background-color: #28374a;
  color: #99a9bf;
  border: none;
}
body.night .long-model-wrapper > .long-model:nth-child(odd) {
  background: #28374a !important;
}
body.night .main-nav.flat {
  background: 0;
  -webkit-box-shadow: 0 1px #334148, 0 0 transparent, 0 2px #263238 !important;
  box-shadow: 0 1px #334148, 0 0 transparent, 0 2px #263238 !important;
}
body.night .long-model-wrapper > .long-model:last-child {
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  -webkit-box-shadow: 0 1px 0 transparent inset, 0 1px 0 transparent;
  box-shadow: 0 1px 0 transparent inset, 0 1px 0 transparent;
}
body.night .long-model {
  -webkit-box-shadow: 0 1px 0 #334148 inset !important;
  box-shadow: 0 1px 0 #334148 inset !important;
  padding-top: 30px;
  padding-bottom: 60px;
}
body.night .article_wrapper.post,
body.night .links_wrapper.post {
  background-color: #34425a;
  color: #99a9bf;
}
body.night .favlink-card-mini .metas {
  background: #28374a;
  text-shadow: 0 1px #28374a;
}
body.night .favlink-card-mini .metas .title {
  color: #d8e0ea;
}
body.night #comments {
  background-color: #34425a;
  color: #99a9bf;
}
body.night .toggle_sidebar {
  background-color: #263238;
  color: #738192;
}
body.night .vcard .date {
  color: #728091;
}
body.night .pdmsg_modal {
  background-color: #34425a;
  color: #738192;
  box-shadow: 0 4px 8px #00033;
}
body.night .pdmsg_modal.prompt .prompt_input_wrapper .input {
  background-color: #46546d;
  color: #8492a6;
}
body.night .pf_tag_cloud > .link > li a {
  text-shadow: 0 1px #fff0;
}
body.night .postLists .readMore {
  background: linear-gradient(
        90deg,
        rgba(254, 254, 255, 0),
        #34425a,
        rgba(202, 209, 219, 0)
      )
      0 0/100% 1px no-repeat,
    linear-gradient(
        90deg,
        rgba(255, 255, 255, 0),
        #34425a,
        rgba(255, 255, 255, 0)
      )
      0 1px/100% 1px no-repeat,
    radial-gradient(ellipse 50% 50% at 50% 0, #263343, rgba(202, 209, 219, 0)) 0
      2px no-repeat;
}
body.night .postLists .readMore:before {
  background: radial-gradient(
    ellipse 50% 50% at 50% bottom,
    rgba(247, 247, 247, 0),
    rgba(255, 255, 255, 0)
  );
}
body.night .article_wrapper.post .share-modal {
  background: #34425a;
  border-top: 1px solid #34425a;
}
body.night .relate-posts {
  background: #34425a;
}
body.night article .title_style_01 {
  color: #cad1db;
}
body.night article .title_style_01:after {
  background: #34425a;
}
body.night .post-model:after {
  background: 0 0;
}
body.night .comment-input {
  border: 1px solid #657487;
  background: #28374a;
}
body.night .comment-input:focus {
  border-color: #20a0ff;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
body.night #comments .form-meta > a {
  border: 1px solid #8492a6;
}
body.night .pdmsg_buttons button:last-child,
body.night .pdmsg_title {
  color: #8492a6;
}
body.night .pdmsg_modal.prompt .prompt_input_wrapper .input {
  border: 1px solid #364557;
}
body.night #baiduAudioPlayer {
  background: linear-gradient(90deg, #34425a, #28374a 8%, #34425a);
  box-shadow: 2px 4px 8px #263238;
}
body.night .back-to-tickets,
body.night .comment-reply-link {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#3a485b),
    to(#293749)
  );
  background: -webkit-linear-gradient(#3c4a5d, #2b394b);
  background: linear-gradient(#3c4a5d, #263445);
  color: #8b9bb0;
  text-decoration: none;
  border: 1px solid #34425a;
  -webkit-box-shadow: 0 5px 5px rgba(26, 33, 36, 0.38),
    0 0 4px 20px transparent inset, 0 -1px 2px transparent inset;
  box-shadow: 0 5px 5px rgba(26, 33, 36, 0.38), 0 0 4px 20px transparent inset,
    0 -1px 2px transparent inset;
}
body.night .back-to-tickets:hover,
body.night .comment-reply-link:hover {
  border: 1px solid #20a0ff;
  -webkit-box-shadow: 0 6px 8px rgba(32, 160, 255, 0.5),
    0 0 0 11px #20a0ff inset;
  box-shadow: 0 6px 8px rgba(32, 160, 255, 0.5), 0 0 0 11px #20a0ff inset;
  background: #20a0ff;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
body.night .vcard .meta {
  border-bottom: 1px solid #8492a61a;
}
body.night .floatTools .tool-button {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#334159),
    to(#3f4d67)
  );
  text-shadow: 0 1px #334148;
  box-shadow: 0 0 0 #334148, 0 0 0 0 #334148 inset;
}
body.night body html {
  background: #263238;
}
body.night .favlink-card {
  box-shadow: 0 5px 5px #28374a, 1px 0 0 #28374a inset, -1px 0 0 #28374a inset,
    0 -1px 0 #28374a inset, 0 0 0 2px #28374a inset;
  background: linear-gradient(#28374a, #728094 88%, #8e99a9);
}
body.night .favlink-card .title {
  text-shadow: 0 1px #34425a;
  color: #b2cff9;
}
body.night .favlink-card .description {
  text-shadow: 0 1px #28374a;
}
body.night .post_nav > .nav > li a {
  background: #263238;
}
body.night .post_nav > .nav > li a::before {
  border-right: 14.5px solid #263238;
}
body.night .post_nav > .nav {
  border-left: 1px solid #334148;
  box-shadow: 1px 0 #334148 inset;
}
body.night .post_nav > .nav::after,
body.night .post_nav > .nav::before {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#334148),
    to(#334148)
  );
  background: -webkit-linear-gradient(#334148, #334148);
  background: linear-gradient(#334148, #334148);
  -webkit-box-shadow: 0 0 0 1px #334148 inset, 0 0 0 2px #334148 inset,
    0 4px 3px #334148;
  box-shadow: 0 0 0 1px #334148 inset, 0 0 0 2px #334148 inset,
    0 4px 3px #334148;
}
body.night .post_nav > .nav > li a::after {
  -webkit-box-shadow: 0 0 0 1px #334148 inset, 0 0 0 2px #334148 inset;
  box-shadow: 0 0 0 1px #334148 inset, 0 0 0 2px #334148 inset;
  background: #334148;
}
body.night .post_nav > .nav > li.active a {
  -webkit-box-shadow: 0 13px 15px #34425a;
  box-shadow: 0 13px 15px #34425a;
}
body.night .postLists .readMore a {
  background: linear-gradient(#354355, #28374a 23%, #34425a 50%, #34425a);
  box-shadow: 0 -1px #334148 inset, 1px 0 #334148 inset, -1px 0 #34425a inset,
    0 3px 5px #253442;
  border: 1px solid #34425a;
  color: #99a9bf;
}
body.night
  .long-model-wrapper
  .long-model:nth-child(odd)
  .postLists.lists
  .card
  .tags:after,
body.night
  .long-model-wrapper
  .long-model:nth-child(odd)
  .postLists.lists
  .card
  .tags:before,
body.night .postLists.lists .card .tags:after,
body.night .postLists.lists .card .tags:before {
  background: linear-gradient(90deg, #28374a, #28374a);
}
body.night .postLists.cards .card .date:after,
body.night .postLists.cards .card .meta,
body.night .postLists.cards .card .tags:after,
body.night .postLists.cards .card .tags:before {
  background: linear-gradient(90deg, #34425a, #34425a);
}
body.night .long-model {
  border-top: 1px solid #34425a;
}
body.night .long-model-wrapper + #footer {
  border-top: 1px solid #28374a;
  -webkit-box-shadow: 0 1px 0 #354455 inset, 0 1px 0 #324053;
  box-shadow: 0 1px 0 #354455 inset, 0 1px 0 #324053;
}
body.night .postLists.cards .card h2 {
  color: #d8e0ea;
}
body.night .postLists.cards .card h2:hover {
  color: #20a0ff;
}
body.night .postLists.lists .card h2 {
  color: #d8e0ea;
}
body.night .postLists.lists .card h2:hover {
  color: #20a0ff;
}
body.night .music-player-wrapper .player-main,
body.night .pm-notice ul {
  -webkit-box-shadow: 0 15px 20px rgba(31, 45, 61, 0.2),
    0 0 0 1px rgba(166, 172, 182, 0.5), 0 0 0 1px #34425a inset;
  box-shadow: 0 15px 20px rgba(31, 45, 61, 0.2),
    0 0 0 1px rgba(166, 172, 182, 0.5), 0 0 0 1px #34425a inset;
  background: #34425a;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#34425a),
    to(#28374a)
  );
  background: -webkit-linear-gradient(#34425a, #28374a);
  background: linear-gradient(#34425a, #28374a);
}
body.night .music-player-wrapper .player-main:before,
body.night .pm-notice ul:before {
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #59626d;
}
body.night .pm-notice-title {
  border-bottom: 1px solid #425471;
}
body.night .pm-notice-title li {
  border-right: 1px solid #425471;
}
body.night .pm-notice-title li:last-child {
  border-right: 0;
}
body.night .pm-notice-bottom {
  border-top: 1px solid #425471;
}
body.night #assistance {
  background: #28364a;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#34425a),
    to(#28364a)
  );
  background: -webkit-linear-gradient(#34425a, #28364a);
  background: linear-gradient(#34425a, #28364a);
  -webkit-box-shadow: 0 15px 20px rgba(31, 45, 61, 0.2),
    0 0 0 1px rgba(166, 172, 182, 0.5), 0 0 0 1px #34425a inset;
  box-shadow: 0 15px 20px rgba(31, 45, 61, 0.2),
    0 0 0 1px rgba(166, 172, 182, 0.5), 0 0 0 1px #34425a inset;
}
body.night #assistance:before {
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #7f8da1;
}
body.night .chatList.server .chat_pop {
  background: #28374a;
  color: #738192;
  border: 1px solid #8492a6;
}
body.night .chatList.server .chat_pop:before {
  border-right: 5px solid #28374a;
}
body.night .chat_form .chat_input {
  text-shadow: 0 1px #fff00;
  color: #99a9bf;
  border-radius: 5px;
  border: 1px solid #34425a;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#34425a),
    to(#34425a)
  );
  background: -webkit-linear-gradient(#34425a, #34425a);
  background: linear-gradient(#34425a, #34425a);
  box-shadow: 0 1px #334148, 0 2px 2px rgba(31, 45, 61, 0) inset;
}
body.night .chat_form {
  border-top: 1px solid #7f8da1;
  border-radius: 0 0 8px 8px;
  -webkit-box-shadow: 0 1px #7f8da1 inset, 0 -1px rgba(255, 255, 255, 0) inset,
    0 -2px 1px rgba(31, 45, 61, 0);
  box-shadow: 0 1px #7f8da1 inset, 0 -1px rgba(255, 255, 255, 0) inset,
    0 -2px 1px rgba(31, 45, 61, 0);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#7f8da1),
    to(#7f8da1)
  );
  background: -webkit-linear-gradient(#7f8da1, #7f8da1);
  background: linear-gradient(#7f8da1, #7f8da1);
}
body.night .pf_microblog > ul .main::before {
  display: block;
  position: absolute;
  left: 4px;
  top: 0;
  right: 4px;
  height: 20px;
  border-radius: 10px;
  background: 0 0;
}
body.night .pf_microblog > ul .main {
  background-color: #28374a;
  background: -webkit-linear-gradient(bottom, #28374a, #34425a 15px) #28374a;
  color: #263238;
  border: 1px solid #28374a;
  box-shadow: 0 10px 13px rgba(31, 45, 61, 0.1), 0 0 1px rgba(31, 45, 61, 0.1);
  box-shadow: 0 10px 13px rgba(0, 0, 0, 0.1), 0 0 1px rgba(0, 0, 0, 0.1);
}
body.night .pf_microblog > ul .main * {
  text-shadow: 0 1px transparent;
  color: #99a9bf;
}
body.night .pf_microblog > ul .main:after {
  border-top: 6px solid #96999a00;
  border-right: 6px solid #34425a;
  border-bottom: 6px solid #33414800;
}
body.night .pf_microblog > ul .date:after,
body.night .pf_microblog > ul .date:before {
  border-right: 6px solid #334148;
}
body.night .pf_tag_cloud > .navigator > li:nth-child(even) a {
  background-color: #34425a;
  color: #8797ab;
  background: -webkit-linear-gradient(350deg, #34425a, #3d4b64);
  -webkit-box-shadow: 0 13px 15px rgba(0, 0, 0, 0.1);
}
body.night .pf_tag_cloud > .navigator > li a:before {
  border-right: 15.5px solid #1f2d3d;
}
body.night .pf_tag_cloud > .navigator > li:nth-child(even) a:before {
  border-right-color: #34425a;
}
body.night .pf_tag_cloud > .navigator > li a {
  background-color: #1f2d3d;
  color: #99a9bf;
  -webkit-box-shadow: 0 13px 15px rgba(0, 0, 0, 0.1);
}
body.night .pf_hotposts h4,
body.night
  .wp-block-pandastudio-single[posttype="post"]
  .single-wrapper
  .summary
  .date,
body.night .wp-block-pandastudio-single[posttype="post"] .single-wrapper h4 {
  color: #cad1db;
}
body.night .wp-block-pandastudio-single[posttype="post"] .single-wrapper {
  border: 1px solid #657487;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#28374a),
    to(#334159)
  );
  background: -webkit-linear-gradient(#28374a, #334159);
  background: linear-gradient(#28374a, #334159);
  text-shadow: 0 1px #34425a;
  border-radius: 9px;
  overflow: hidden;
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.10196078431372549),
    0 1px #34425a inset;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.10196078431372549), 0 1px #34425a inset;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
body.night
  .wp-block-pandastudio-single[posttype="post"]
  .single-wrapper
  .single-meta {
  box-shadow: 0 1px #34425a inset;
}
body.night
  .wp-block-pandastudio-single[posttype="post"]
  .single-wrapper
  .cover {
  -webkit-box-shadow: 0 1px #34425a;
  box-shadow: 0 1px #34425a;
}
body.night .pf_hotposts h4:hover {
  color: #20a0ff;
}
body.night .pf_hotposts .summary {
  color: #cad1db;
}
body.night .popover {
  background-color: #28374a;
}
body.night .popover-title {
  background: #28374a;
  border-bottom-color: #475669;
  color: #657487;
}
body.night .popover.top > .arrow:after {
  border-top-color: #28374a;
}
body.night .widget-comments small {
  background-color: #34425a;
  color: #99a9bf;
}
body.night .widget-comments small:before {
  border: 5px solid transparent;
  border-bottom-color: #34425a;
}
body.night article .wp-block-table td {
  border-bottom: 1px solid #99a9bf2b;
}
a,
body.night .silver-color {
  color: #99a9bf;
}
body.night .pandaTabWrap .sub-menu {
  background: #28374a;
  box-shadow: 0 4px 8px #00033;
}
body.night .pandaTabWrap > .sub-menu:before {
  border-bottom: 4px solid #28374a;
}
body.night .pandaTabWrap .sub-menu > li > a {
  color: #8b9bb0;
}
body.night .pandaTabWrap .sub-menu > li > a:hover {
  color: #fff;
}
body.night .topNav[pandaTab] > .menu > li > a {
  color: #99a9bf;
}
body.night .topNav[pandaTab] > .menu > li.current-menu-ancestor > a,
body.night .topNav[pandaTab] > .menu > li.current-menu-item > a,
body.night .topNav[pandaTab] > .menu > li:hover > a {
  color: #20a0ff;
}
body.night .main-nav .login .login-main {
  background: #34425a;
  box-shadow: 0 4px 8px #00033;
}
body.night .main-nav .login .login-main:before {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #34425a;
}
body.night .main-nav .login .login-main .user-type {
  color: #8b9bb0;
  border-bottom: 1px solid #8492a62e;
}
body.night .panda_pagi[pandaTab] > .menu {
  background: #3b4963;
  -webkit-box-shadow: 0 1px #334159, 0 5px 10px #3c4a64 inset;
  box-shadow: 0 1px #334159, 0 5px 10px #3c4a64 inset;
}
body.night .panda_pagi[pandaTab] > .menu > li > a {
  text-shadow: 0 1px #3b4963;
}
body.night .panda_pagi[pandaTab] > .menu > li:not(.active) > a:hover {
  text-shadow: 0 0 10px #3b4963, 0 0 13px #3b4963;
}
body.night .panda_pagi[pandaTab] .anchor {
  background: #28374a;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#34425a),
    to(#1f2d3d)
  );
  background: -webkit-linear-gradient(#34425a, #1f2d3d);
  background: linear-gradient(#34425a, #1f2d3d);
  -webkit-box-shadow: 0 6px 6px #28374a, 0 10px 10px rgba(31, 45, 61, 0.15),
    0 -1px 2px #3c4a64 inset;
  box-shadow: 0 6px 6px #28374a, 0 10px 10px rgba(31, 45, 61, 0.15),
    0 -1px 2px #3c4a64 inset;
}
body.night .postLists.lists .card .description {
  color: #99a9bf;
}
body.night .postLists.lists .card:hover .description {
  color: #8492a6;
}
body.night .filter--content .filter-tab a,
body.night .postLists.cards .card .summary,
body.night .postLists.lists .card .summary {
  color: #99a9bf;
}
body.night .filter--content {
  background-color: #1f2d3d;
  -webkit-box-shadow: 0 13px 15px #2c3a4a;
  box-shadow: 0 13px 15px #2c3a4a;
}
body.night .filter--content .filter-item span,
body.night .filter--content .filter-tab span {
  background-color: #3e4d68;
  -webkit-box-shadow: 0 8px 13px #24323e inset, 0 1px #3e4d67;
  box-shadow: 0 8px 13px #24323e inset, 0 1px #3e4d67;
}
body.night .filter--content .filter-tab a.on {
  color: #fb7876;
}
body.night .filter--content .filter-item a {
  color: #99a9bf;
}
body.night .filter--content .filter-item a.on {
  color: #fff;
}
body.night .filter--content .filter-tab .tab.on i {
  background: #1f2d3d;
}
body.night .filter--content .filter-tab {
  border-top: 1px solid #28374a;
}
body.night .widget-pay .w--pay-box {
  background: #34425a;
}
body.night .widget-pay .pay--rateinfo {
  border-bottom: 1px dashed #8492a6;
}
body.night .widget-userqiandao li .name,
body.night .widget-userstop li .name {
  color: #99a9bf;
}
body.night .user-qd-info-left p {
  color: #69788e;
}
body.night .widget-userqiandao li .index.num-1,
body.night .widget-userstop li .index.num-1 {
  color: #f44336;
}
body.night .widget-userqiandao li .index.num-2,
body.night .widget-userstop li .index.num-2 {
  color: #36adf4;
}
body.night .widget-userqiandao li .index.num-3,
body.night .widget-userstop li .index.num-3 {
  color: #15b96c;
}
body.night .author-card .author-infos .author h4,
body.night .el-form-item__label,
body.night .el-info-title,
body.night .el-input__inner,
body.night .form-box,
body.night .form-item__label,
body.night .qd-box-t,
body.night .qd-info,
body.night .qd-info-content,
body.night .qiandao-list li .name,
body.night .swal2-title,
body.night .tk-vip-radio,
body.night .widget-pay .pricing-options li,
body.night .widget-userqiandao li .index,
body.night .widget-userstop li .index {
  color: #99a9bf;
}
body.night .widget-pay .pricing-options li + li {
  border-top: 1px solid #34425a;
}
body.night .wp-block-pay-box {
  border: 1px dashed;
}
body.night .wp-block-pay-box:hover {
  border: 1px dashed #20a0ff;
}
body.night .pay-box-pwd .pwd,
body.night .widget-pay .pay-box .pwd {
  background-color: #34425a;
}
body.night hr {
  border-top: none;
}
body.night .dashboard-wrapper {
  background: #34425a;
}
body.night .dashboard-wrapper .content .group {
  border: 1px solid #8492a6;
  -webkit-box-shadow: 0 3px 5px #34425a;
  box-shadow: 0 3px 5px #34425a;
}
body.night .dashbox_wrapper .list {
  border-bottom: 1px solid #8492a64f;
}
body.night .dashbox_wrapper .list:hover {
  background: rgba(0, 0, 0, 0.15);
}
body.night .form-box,
body.night .swal2-popup {
  background: #34425a;
}
body.night .coin2member__list {
  border-bottom: 1px solid #8492a638;
}
body.night .el-input__inner {
  background-color: #28374a;
  border: 1px solid;
}
body.night .el-input-group__append,
body.night .el-input-group__prepend {
  background-color: #20a0ff;
  color: #fff;
  border: 1px solid #20a0ff;
}
body.night .login-inner-form .input-text {
  background-color: #34425a;
  border: 1px solid #99a9bf;
  color: #99a9bf;
}
body.night .form-group__append {
  background-color: #20a0f5;
  color: #fff;
  border: 1px solid #20a0f5;
}
body.night .edit--profile-links li a,
body.night .form-control,
output {
  color: #99a9bf;
}
body.night .qd-tk {
  background: #34425a;
  -webkit-box-shadow: 0 8px 13px #28374a inset, 0 1px #34425a;
  box-shadow: 0 8px 13px #28374a inset, 0 1px #34425a;
}
body.night .form-control,
body.night .t-dropdown,
body.night .ticket-new li #email {
  background-color: #28374a;
  border: 1px solid #34425a;
}
body.night .w-e-text-container,
body.night .w-e-toolbar {
  background-color: #34425a !important;
  border: 1px solid #99a9bf !important;
}
body.night .well {
  background-color: #273648 !important;
  border: 1px solid #99a9bf !important;
}
body.night .edit--profile-links li a:hover {
  color: #20a0ff;
}
body.night .edit--profile-links li a.active {
  color: #fff;
}
body.night .qiandao-list li .index.num-1 {
  color: #f44336;
}
body.night .qiandao-list li .index.num-2 {
  color: #36adf4;
}
body.night .qiandao-list li .index.num-3 {
  color: #15b96c;
}
body.night .qiandao-list li .index {
  color: #99a9bf;
}
body.night input::-webkit-input-placeholder,
body.night textarea::-webkit-input-placeholder {
  color: #99a9bf;
}
body.night input:-moz-placeholder,
body.night textarea:-moz-placeholder {
  color: #99a9bf;
}
body.night input::-moz-placeholder,
body.night textarea::-moz-placeholder {
  color: #99a9bf;
}
body.night input:-ms-input-placeholder,
body.night textarea:-ms-input-placeholder {
  color: #99a9bf;
}
body.night .pandastudio_framework_login__card,
body.night .pandastudio_framework_register__card {
  background: #34425a;
  -webkit-box-shadow: 0 1px 1px #34425a inset,
    0 15px 20px rgba(31, 45, 64, 0.35);
  box-shadow: 0 1px 1px #34425a inset, 0 15px 20px rgba(31, 45, 64, 0.35);
}
body.night .pandastudio_framework_login__title,
body.night .pandastudio_framework_register__title {
  text-shadow: 0 1px 1px #34425a;
}
body.night .pandastudio_framework_login__form .inputer input,
body.night .pandastudio_framework_register__form .inputer input {
  -webkit-box-shadow: 0 1px 1px #34425a;
  box-shadow: 0 1px 1px #34425a;
  background: #34425a;
  color: #99a9bf;
}
body.night .pandastudio_framework_login__form .inputer span.title,
body.night .pandastudio_framework_register__form .inputer span.title {
  color: #d8e0ea;
  z-index: 1;
}
body.night .inputer input.has_value + span.title,
body.night .inputer input:focus + span.title {
  color: #20a0ff;
  background: #34425a;
}
body.night .ticket-item-content {
  background-color: #28374a;
}
body.night .table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #34425a;
}
body.night #ticketlist .table-hover > tbody > tr:hover {
  background-color: rgba(0, 0, 0, 0.15);
}
body.night .modal-content {
  background-color: #34425a;
}
body.night .modal-header {
  border-bottom: 1px solid rgba(31, 45, 61, 0.2);
}
body.night .close {
  color: #d8e0ea;
}
body.night .modal-footer {
  background: #34425a;
  border-top: 1px solid rgba(31, 45, 61, 0.15);
}
body.night .btn-default {
  color: #fff !important;
  text-shadow: 0 1px rgba(255, 255, 255, 0);
  background-color: #20a0ff;
  border-color: #20a0ff;
  -webkit-box-shadow: 0 3px 5px rgba(31, 45, 61, 0.15);
  box-shadow: 0 3px 5px rgba(31, 45, 61, 0.15);
}
body.night .dropdown-menu {
  background-color: #34425a;
}
body.night .dropdown-menu > li > a:focus,
body.night .dropdown-menu > li > a:hover {
  background-color: #28374a;
}
body.night .content-hidden-before i {
  color: #8492a6;
  background: #34425a;
}
body.night .content-hidden-end span {
  background-color: #34425a;
}
body.night .content-hidden-info {
  border: 2px dashed #99a9bf;
}
body.night .categoryNav[pandaTab] > .menu > li.active > a {
  color: #99a9bf;
  background: #34425a;
  box-shadow: 0 10px 13px rgba(31, 45, 61, 0.1), 0 0 1px rgba(31, 45, 61, 0.1);
  box-shadow: 0 10px 13px rgba(0, 0, 0, 0.1), 0 0 1px rgba(0, 0, 0, 0.1);
}
body.night .beian a,
body.night .pf_user_info .meta .name {
  color: #8492a6;
}
body.night #qd-tab .widget-nav .active,
body.night #qd-tab .widget-nav li:hover {
  color: #99a9bf;
  background: #34425a;
  box-shadow: 0 10px 13px rgba(31, 45, 61, 0.1), 0 0 1px rgba(31, 45, 61, 0.1);
  box-shadow: 0 10px 13px rgba(0, 0, 0, 0.1), 0 0 1px rgba(0, 0, 0, 0.1);
}
body.night #qd-tab .widget-nav li {
  color: #34425a;
  background: #99a9bf;
}
body.night .pm-chat-user-window .layui-layer-title {
  background: linear-gradient(to right, #334055, #3f4e69);
}
body.night .pm-chat-send-message-btn {
  background: linear-gradient(to right, #28374a, #8b9bb0);
}
body.night .pm-chat-textarea,
body.night .pm-chat-user-window {
  background-color: #f0f2f7;
}
body.night .pm-chat-windows-footer-bar {
  border-top: 1px solid #d8e0ea;
}
body.night .pm-chat-header {
  background-color: #34425a;
}
body.night .pm-chat-header div.on {
  background-color: #405269;
}
body.night .pm-chat-header div.on span {
  color: #99a9bf;
}
body.night .pm-chat-clear-icon,
body.night .pm-chat-close-icon {
  background: linear-gradient(to right, #34425a, #8492a6);
}
body.night .pm-chat-content-privacy,
body.night .pm-chat-content-recent,
body.night .pm-chat-content-user,
body.night .pm-chat-search-input,
body.night .pm-chat-windows-footer,
body.night .user-search-results {
  background-color: #f0f2f7;
}
body.night .pm-chat-content-recent-user-info span.name {
  color: #34425a;
}
body.night .pm-chat-content-recent-user-info span.msg {
  color: #99a9bf;
}
body.night .pm-chat {
  box-shadow: -3px 0 6px -2px #34425a;
}
body.night .pm-chat-windows-user-name {
  color: #d8e0ea;
}
body.night .pm-chat-windows-user-desc {
  color: #99a9bf;
}
body.night .tk-sign-page-content tbody td span {
  color: #d8e0ea;
}
body.night .tk-sign-page-content thead td span {
  background-color: #28374a;
  color: #99a9bf;
}
body.night .tk-sign-page-box.sign-btn .layui-field-box {
  background-color: #28374a;
}
body.night .tk-sign-page-box.sign-btn .layui-field-box li {
  color: #99a9bf;
}
body.night .tk-sign-page-content tbody tr:nth-child(2n) td {
  background: #28374a;
}
body.night .layui-elem-field,
body.night .layui-tab-title {
  border-color: #99a9bf !important;
}
body.night .tk-ranking-page-bottom li {
  border: 1px solid #414e61;
}
body.night .tk_account_safe {
  background-color: #34425a;
}
body.night .tk_account_safe .layui-layer-title {
  background-color: #34425a;
  color: #d8e0ea;
}
body.night .tk_account_safe .layui-input,
body.night .tk_account_safe .layui-select,
body.night .tk_account_safe .layui-textarea {
  background-color: #28374a;
  color: #99a9bf;
  border-color: #99a9bf4d;
}
body.night .el-textarea_inner,
body.night .tk-pop-modify-form li input {
  background-color: #28374a;
  border: 1px solid;
  color: #99a9bf;
}
body.night .layui-layer.tk-login-form {
  background: #34425a;
}
body.night .tk-login-form .layui-layer-title {
  background-color: #34425a;
}
body.night .tk-pop-login-form li input {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#28374a),
    to(#28374a)
  );
  background: -webkit-linear-gradient(#28374a, #28374a);
  background: linear-gradient(#28374a, #28374a);
  -webkit-box-shadow: 0 1px 1px #28374a;
  box-shadow: 0 1px 1px #28374a;
  border: 1px solid #99a9bf;
  color: #d8e0ea;
}
body.night .tk-pop-login-form li input:focus {
  border-color: #20a0ff;
}
body.night .tk-pop-login-form li.code input.tk-get-code {
  background: linear-gradient(#28374a, #8492a6);
  color: #d8e0ea;
  border: 1px solid #28374a;
  -webkit-box-shadow: 0 2px 1px #28374a, 0 0 0 1px #8492a6 inset;
  box-shadow: 0 2px 1px #28374a, 0 0 0 1px #8492a6 inset;
}
body.night .charge .modules__content .amounts ul li p {
  border: 1px solid #8492a6;
}
body.night .charge .modules__content .amounts ul li p.selected {
  border-color: #60b979;
}
body.night .pm-system-notice-content li,
body.night .pm-user-info,
body.night .tk-sign-add-form,
body.night .tk-sign-success-form,
body.night .tk-sign-treasure-form {
  background-color: #34425a;
}
body.night .tk-sign-add-form-content .layui-field-box,
body.night .tk-sign-success-form .layui-layer-content .layui-field-box,
body.night .tk-sign-treasure-form .tk-sign-add-form-content .layui-field-box {
  background-color: #28374a;
}
body.night .charge-bottom,
body.night .pm-info-card .bar,
body.night .pm-info-card .city,
body.night .tk-sign-success-form .layui-layer-content .layui-field-box li,
body.night
  .tk-sign-treasure-form
  .tk-sign-add-form-content
  .layui-field-box
  li {
  color: #99a9bf;
}
body.night .pm-system-notice-form .layui-layer-title {
  background-color: #34425a;
  border-bottom: 1px solid #34425a;
  color: #d8e0ea;
}
body.night .pm-system-notice-form .layui-layer-content {
  background-color: #28374a;
}
body.night .pm-system-notice-content > .time {
  background-color: #34425a;
  color: #8492a6;
}
body.night .pm-system-notice-content li .content {
  color: #d8e0ea;
}
body.night #tk-favlinks {
  background: linear-gradient(#34425a, #28374a 50%);
}
body.night #tk-favlinks .layui-form-select .layui-input {
  background-color: #4f6180;
  border: 1px solid #8492a6;
}
body.night #yuecz .amounts li,
body.night .pay-m-group li {
  border-color: #515f73;
}
body.night .layui-layer-title,
body.night .layui-tab-title {
  border-bottom: 1px solid #99a9bf4d;
}
body.night .layui-layer {
  background-color: #34425a;
}
body.night .layui-layer-title {
  background-color: #34425a;
  color: #99a9bf;
}
body.night .layui-layer-content {
  color: #99a9bf;
}
body.night .layui-layer-tips .layui-layer-content {
  color: #fff !important;
}
body.night .layui-laypage a,
body.night .layui-laypage button,
body.night .layui-laypage input,
body.night .layui-laypage select,
body.night .layui-laypage span {
  background-color: #34425a;
  color: #99a9bf;
  border: 1px solid #34425a;
  border: 0;
}
body.night .layui-laypage button,
body.night .layui-laypage input {
  background-color: #34425a;
  border: 1px solid;
}
body.night .tkshop-credit-recharge-number li,
body.night .tkshop-credit-recharge-type li {
  border: 1px solid;
  border-color: #99a9bf4d;
}
body.night .tkshop-credit-recharge-number li.on,
body.night .tkshop-credit-recharge-number li:hover,
body.night .tkshop-credit-recharge-type li.on {
  border-color: #60bb79;
}
body.night .tkshop-cash-form-content > div input {
  background-color: #28374a;
  border: 1px solid;
  color: #99a9bf;
}
body.night .tkshop-cash-form-content .type > m {
  border: 1px solid;
}
body.night .tkshop-cash-form-content .type > m.on {
  border: 1px solid #5fb878;
}
body.night .tkshop-cash-form-content .d-info {
  background: #28374a;
}
body.night .tkshop-credit-recharge-number li .bottom {
  border-top: 1px solid #99a9bf4d;
}
body.night .tkshop-order-confirmation-content .box {
  background-color: #28374a;
}
body.night .tkshop-goods-order-list li .info .title a {
  color: #d8e0ea;
}
body.night .tkshop-goods-order-list li .info .title a:hover {
  color: #20a0ff;
}
body.night .tkshop-goods-order-list li {
  border-bottom: 1px solid #99a9bf4d;
}
