img.dashangImg {
  max-height: 248px;
}
.rainbow {
  background: -webkit-linear-gradient(
    45deg,
    lightpink,
    lightgreen,
    pink,
    orange,
    #e03997,
    #e54d42,
    #9c26b0,
    #fdefac,
    lightblue
  );
  color: transparent;
  /*设置字体颜色透明*/
  -webkit-background-clip: text;
  /*背景裁剪为文本形式*/
  animation: ran 10s linear infinite;
  /*动态10s展示*/
}
@keyframes ran {
  from {
    backgroud-position: 0 0;
  }

  to {
    background-position: 2000px 0;
  }
}
.cmt_faces {
  max-width: 32px;
}
article h1,
article h2,
article h3,
article h4,
article h5 {
  font-weight: bold;
}
#wrapper {
  background: url(../imgs/bl.png) no-repeat fixed bottom left,
    url(../imgs/tr.png) no-repeat fixed top right, #f0f2f7;
}
article h2 {
  margin: 26px 0px 0.6em 0px;
  border-bottom: 1px solid;
  color: rgb(255, 102, 0);
  font-size: 26px;
}
article h3 {
  margin: 20px 0px 0.6em 0px;
  color: #f6821f;
  font-size: 20px;
}

a.atags {
  display: inline-block;
  font-size: 10px;
  line-height: 20px;
  padding: 0 10px;
  color: #20a0ff;
  position: relative;
}

a.atags:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  color: inherit;
  background: currentColor;
  border-radius: 20px;
  opacity: 0.15;
}

code {
  color: #0c5176 !important;
  background-color: #f5f8fa !important;
}
