input[type="text"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="week"], input[type="password"], input[type="checkbox"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], select, textarea {
	background-color: #fff;
	box-shadow: none;
	border: 1px solid #DCDFE6;
}
input[type="text"]:focus, input[type="search"]:focus, input[type="radio"]:focus, input[type="tel"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, input[type="password"]:focus, input[type="checkbox"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, select:focus, textarea:focus {
	box-shadow: none;
}
.el-switch__input {
	display: none !important;
}
#adminmenuwrap {
	z-index: 999;
}
.form_decoration {
	color: #8492A6;
	line-height: 2em;
	padding-top: 5.5px;
}
label .form_decoration {
	padding-top: 0;
}
#wpfooter {
	display: none;
}
#wpadminbar {
	z-index: 1999;
}
.el-slider__button-wrapper {
	top: -17px;
}
/*修复ui-bug*/
.el-input__inner {
	margin: 0;
}

.uploader_show_image {
	max-width: 150px;
	margin-top: 10px;
	margin: auto;
	display: block;
}
.multi_Uploader_show_image {
	background-size: cover;
	display: inline-block;
	border-radius: 6px;
	height: 148px;
	margin: 0 15px 0 0;
	width: 148px;
	position: relative;
	cursor: pointer;
}
.multi_Uploader_show_image:after {
	content: "\E60F";
	font-family: "element-icons";
	font-size: 24px;
	border-radius: 6px;
	line-height: 148px;
	width: 100%;
	height: 100%;
	text-align: center;
	background-color: rgba(255,0,0,.5);
	color: #fff;
	position: absolute;
	opacity: 0;
	transition: .25s;
}
.multi_Uploader_show_image:hover:after {
	opacity: 1;
	transition: .25s;
}

.subcomponent {
	margin-bottom: 4px;
}

.cell > .subcomponent {
	margin-bottom: 0;
}

.subcontentRemove {
	margin-bottom: 10px;
}

.el-upload--picture-card .hover {
	display: none;
}
.el-upload--picture-card:hover .normal{
	display: none;
}
.el-upload--picture-card:hover .hover{
	display: block;
}

.el-radio__label img {
	vertical-align: middle;
}

.el-table {
	line-height: 24px;
}

.el-table textarea {
	resize: none;
}

.el-tabs__nav-wrap::after {
	height: 1px !important;
}